/* general style for the profile form */
.form-profile {
    padding: 0 0;
    margin: auto;
    text-decoration: none;
    max-height: 10rem;
    display: none;
    border: 1px solid black;
}

/* general style for the address form */
.form-address {
    padding: 0 0;
    margin: auto;
    text-decoration: none;
    max-height: 10rem;
    display: none;
    border: 1px solid black;
}

/* general style for the shipping form */
.form-shipping {
    padding: 0 0;
    margin: auto;
    text-decoration: none;
    max-height: 10rem;
    display: none;
    border: 1px solid black;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.title {
    margin-left: 11px;
}

.form__button-baseline {
    display: flex;
    justify-content: end;
    /* flex-direction: row; */
    background-color: rgb(220, 219, 219);
    align-items: flex-end;
}

/* text style */
.form__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    font-size: 11px;
    cursor: pointer;
}

.form__input-error {
    font-size: 11px;
    margin-bottom: 0;
    display: none; 
}
.form__input-error-activo {
    display: block;
}
.form__message p {
    font-size: 13px;
    text-align: center;
    margin-top: 1rem;
}

/* icons inputs "X" */
.form__validation-state {
    position: absolute;
    left: 140px;
}
/* form inputs style */
.form__user-input input {
    background: #fff;
    border: 3px solid transparent;
    height: 25px;
    line-height: 45px;
    padding: 0 40px 0 10px;
}
.form__input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.form__user-input input {
    border: 1.3px solid black;
    border-radius: 3px;
}

.form__user-input input::-webkit-input-placeholder {
    font-size: 10px;
    padding-left: 3px;
}

/* form groups */
.form__group {
    margin: 12px;
}

/* buttons baseline style */
.form__btn-clear {
    width: 85px;
    height: 25px;
    border: 1.3px solid black;
    border-radius: 4px;
}

.form__btn-next {
    background-color: black;
    color: white;
    border: 1.3px solid black;
    border-radius: 4px;
    height: 25px;
    width: 60px;
}