/* General style */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0;
    padding: 0 0;
}
/* container style of the main  */
.shopping-store {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px 5px;
}

/* image style of focus img and small img */
.focus-img {
    
}
/* HEADER */
.nav-header {
    background-color: rgb(219, 219, 219);
    padding: 40px 0;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: black;
}

/* FOOTER */
footer {
    background-color: rgb(219, 219, 219);
    padding: 40px 0;
    text-align: center;
}





/* PRODUCT DETAILS */
.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.product-details select {
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px 5px;
    width: 30%;
}

.shirt-color a img{
    width:30px;
}

#button-buy {
    width: 100px;
    border-radius: 5px;
    color: aliceblue;
    background-color: black;
    padding: 15px 15px;
}

.button-buy {
    font-weight: 600;
    font-size: 15px;
}

/* CONTAINER IMAGE */
.product-imgs {
    width: 15%;
    margin-left: 100px;
}

.main-img img {
    /* display: none; */
    width: 500px;
}


/* SHIPPING FORM */
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sideright {
    display: flex;
    flex-direction: column;
}

.sideright form {
    display: flex;
    flex-direction: column;
}

#selecting {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#giftmsg {
    width: 400px;
    border: 2px black solid;
    resize: none;
    border-radius: 5px;
}

/* 
.sh {
    margin: 20px 0;
} */

.formshipping input {
    margin-bottom: 30px;
}

.formshipping textarea {
    margin: 20px 0;
}

.selectimg {
    margin-top: 20px;
    margin-bottom: 80px;
}

.sideright {
    border: 2px solid rgb(172, 172, 172);
    margin-top: 50px;
    margin-right: 20%;
    padding: 50px;
    height: fit-content;
    background-color: rgb(230, 230, 230);
}

label[for="selecting"] {
    font-size: 20px;
    font-weight: 600;
    border: 2px black solid;
    border-radius: 5px;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    width: 300px;
    text-align: center;
}

.inputalign label {
    margin-left: 20px;
}

.sideleft {
    margin-left: 300px
}

#clearform {
    background-color: white;
    padding: 10px 30px;
    border: 2px black solid;
    border-radius: 5px;
}

.footerbuttons {
    position: absolute;
    right: 50px;
}

#next {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 11px 40px;
    border: 2px black solid;
    border-radius: 5px;
    margin-left: 30px;
    align-items: right;
}